body {
    margin: 0;
    background-color: #333;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.container {
    flex: 1 0 100%;
    text-align: center;
    transition: 0.3s;
}
.container.shift {
    margin: 0px 0px 0px -100vw;
}
.game {
    background-color: rgba(121, 149, 106, 0.5);
    padding: 30px;
    border-radius: 2px;
    max-height: 70vh;
    overflow: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game_1 {
    background-color: rgb(189, 45, 45);
}
.game_2 {
    background-color: rgb(50, 50, 104);
}

.game__player {
    font-size: 24px;
    margin: 0px 0px 15px 0px;
}

/* Inputs */
.game__inputs {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    max-width: 400px;
}
.game__input {
    flex: 1 1 auto;
}
.game__button {}

/* Log */
.game__log {
    margin: 20px 0px 0px 0px;
}
.log {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    justify-items: center;
    gap: 12px;
}
.log > * {
    font-size: 20px;
}
.log__num {}
.log__value {}
.log__result {}
