:root {
    --grid-columns: 4;
}
body {
    margin: 0;
    background-color: #333;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.game {
    flex: 1 0 100%;
    text-align: center;
    transition: 0.3s;
}
.game__container {
    background-color: rgba(121, 149, 106, 0.5);
    padding: 30px;
    border-radius: 2px;
    max-height: 70vh;
    overflow: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.game__player {
    font-size: 24px;
    margin: 0px 0px 15px 0px;
}

/* Inputs */
.game__inputs {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    max-width: 400px;
}
.game__input {
    flex: 1 1 auto;
}
.game__button {}

.game__log {
    margin: 20px 0px 0px 0px;
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    align-items: center;
    justify-items: center;
    gap: 12px;
    font-size: 20px;
}

@media (max-width: 767px) {
    .game__container {
        padding-left: 7px;
        padding-right: 7px;
    }
    .game__log {
        font-size: 16px;
        gap: 7px;
    }
}